<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page 1+2</h1>
    <h3><%= ["Hello","Namaste","Good Morning"] [1]%></h3>
    <p><%= "Manoj Yadav" .toUpperCase() %><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
      perferendis quia id error aliquam nisi minima ipsum veniam pariatur,
      voluptas quidem rerum quas ullam eligendi? Eligendi consequuntur molestiae
      blanditiis repudiandae!
    </p>
    <button>Click Me</button>
  </body>
</html>
